{{#factories}}
public {{{returnType}}} create{{{returnType}}}() {
    {{{returnType}}} {{{localVariableName}}} = new {{{returnType}}}();
    {{#setterViews}}
    {{{localVariableName}}}.set{{{propertyName}}}({{{propertyValue}}});
    {{/setterViews}}
    return {{{localVariableName}}};
}
{{/factories}}