{{#factories}}
public {{{returnType}}} create{{{returnType}}}() {
    {{{returnType}}} {{{localVariableName}}} = new {{{returnType}}}();
    {{#setters}}
    {{{localVariableName}}}.set{{{propertyName}}}({{{propertyValue}}});
    {{/setters}}
    return {{{localVariableName}}};
}
{{/factories}}