package {{{packageName}}};

{{#imports}}
import {{{.}}}
{{/imports}}

public class {{{className}}} {

    {{#factories}}
    public {{{returnType}}} {{{factoryMethodName}}}() {
        {{{returnType}}} {{{localVariableName}}} = new {{{returnType}}}();
        {{#setters}}
        {{{localVariableName}}}.set{{{propertyName}}}({{{propertyValue}}});
        {{/setters}}
        return {{{localVariableName}}};
    }
    {{/factories}}
    {{^factories}}
# no factories :(
    {{/factories}}

}
